html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
#header {
  width: 100%;
  background-color: transparent;
  border-top: 0.003rem gray solid;
  border-bottom: 0.003rem gray solid;
  position: fixed;
  z-index: 2;
}

.textheading a {
  text-decoration: none;
  font-family: sans-serif;
  color: #b8b8b8;
  font-weight: 900;
}

.textheading a:hover {
  color: white;
}

#name {
  float: left;
  padding: 1%;
  font-size: 100%;
}

#scrollingtext {
  float: right;
  padding: 1%;
  font-size: 100%;
}

.headerimage {
  height: 100%;
  width: 100%;
}

.header {
  height: 100%;
  width: 100%;
}

.centerimagecontain {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 0.188rem #b8b8b8 solid;
  padding: 1%;
}

.centerimagecontain2 {
  color: #b8b8b8;
  position: absolute;
  top: 34%;
  font-family: sans-serif;
  font-weight: 100;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
}

.codewrite h1 {
  font-size: 2rem;
  color: lime;
  font-family: 'Kdam Thmor Pro', sans-serif;
  overflow: hidden;
  border-right: .4rem solid lime;
  white-space: nowrap;
  margin: auto;
  letter-spacing: .4rem;
  animation:
    go 3.5s steps(50, end),
    wait .5s step-end infinite;
}

@keyframes go {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

@keyframes wait {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: lime
  }
}

.body {
  margin-top: -0.4%;
  display: flex;
  flex-direction: row;
  position: relative;
  background: #3a3838;
}

.square {
  background: #222222;
  margin: 2.5%;
  flex: auto;
  width: calc(100%/3);
}

body {
  margin: 0;
}

.bodyarticletitle {
  font-family: sans-serif;
  color: #b8b8b8;
  font-weight: bold;
  border-bottom: 0.125rem solid #b8b8b8;
  padding-bottom: 1%;
  text-align: center;
}

a {
  text-decoration: none;
}

#networkimagecontainer {
  display: flex;
  justify-content: space-evenly;
}

.networkimage {
  margin-top: 50%;
  width: 10rem;
  margin-right: 10%;
}
#words4networking{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.networkwords{
  width: 1rem;
  color: #b8b8b8;
  font-family: sans-serif;
  margin-bottom: -200%;
 flex:auto;
}

#aboutmetext {
  font-size: 1rem;
  color: white;
  font-family: sans-serif;
  margin: 5%;
  letter-spacing: .2rem;
  line-height: 1.5rem;
}

.skillimage {
  width: 25%;
  margin: 3.5%;
}

.skillimagej {
  width: 22%;
  height: 22%;
  margin: 3.5%;
}

.bottom {
  display: table;
  margin-top: -2.5%;
  height: 100%;
}

#portfolioholder {
  display: flex;
  flex-direction: column;
  background: #222222;
}

#portfoliotitle {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: white;
}

#taskholder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.task {
  flex:auto;
  transition: .3s;
}
.task:hover{
  z-index: 100;
  transform: scale(1.08);
}

#contactholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #222222;
}

#contactholder input {
  margin-bottom: 0%;
  margin-top: 1.5%;
  width: 10%;
  height: 25px;
  font-family: sans-serif;
  padding: 1%;
  padding-top: 0%;
  padding-bottom:0%;
}

#messages{
  padding-left: 1%;
  padding-top: 0%;
  padding-bottom:0%;
  font-family: sans-serif;
  margin: 25.5%;
  margin-bottom: 0%;
  margin-top: 2.5%;
  width: 46%;
  height: 100px;
}
#submit{
  font-family: sans-serif;
  margin: 29.5%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  width: 40%;
  height: 30px;
  color: black;
  background-color: skyblue;
}
#submit:hover{
  background-color: lightslategray;
  color: white;
}
#footercontainer{
  background-color:#3a3838;
  color:#b8b8b8;
}
.footertext{
  font-family: sans-serif;
  margin: 2.55%;
}
#contact1{
  flex:auto;margin-right: 1%;margin-left:20%;
}
#contact2{
  flex:auto;margin-left: 1%;margin-right: 22%;
}
#contact3{
  flex:auto;margin-right: 1%;margin-left: 20%;
}
#contact4{
  flex:auto;margin-left: 1%;margin-right: 22%;
}

@media only screen and (max-width: 1010px) {
  .headerimage{
    width:100%;
    height:40%;
  }
  .body{
    flex-direction:column;
    align-content: center;
    margin-top: -2.5%;
  }
  .bodyarticletitle{
    font-size: 200%;
  }
  .square {
    float:none;
    background: #222222;
    margin: 2.5%;
    width: 95%;
    flex:auto;
  }
  #header{
    display: none;
  }
  #contactholder input {
    font-size: 3vw;
  }
  #messages{
    font-size: 3vw;
    width: 90%;
    margin: 2.5%;
  }
  .centerimagecontain {
    top: 10%;
    background-color: rgba(1, 1, 1, 0.7);
  }
  
  .centerimagecontain2 {
    top: 22%;
    white-space: nowrap;
    background-color: rgba(1, 1, 1, 0.7);
    font-size: 1.1rem;
  }
  .codewrite h1 {
    font-size: 7vw;
  }
  #contactholder{
    flex-direction: column;
  }
  #contactholder input {
    margin: 2.5%;
    width: 90%;
  }
  #taskholder{
    flex-direction: column;
  }

  .centerimagecontain2{
    color:lime
  }
  .networkimage {
    margin-top: 2.5%;
    margin-top: 50%;
    width: 30vw;
  }
  .task{
    width: 100%;
    margin-top: 10%;
  }
}